<div class="content footer">
   <span
      >&copy; {{ CurrentYear }} - SmartLine Assembly Solutions GmbH. All rights
      reserved.</span
   >
   <!-- <span> | </span>
   <span><a href="/impressum">Impressum</a></span>
   <span> | </span>
   <span><a href="/datenschutz">Datenschutz</a></span> -->
</div>

<!-- Impressum

Angaben gemäß § 5 TMG:
SmartLine Assembly Solutions GmbH
Musterstraße 123
12345 Musterstadt
Vertreten durch:
Geschäftsführer: Max Mustermann
Kontakt:
Telefon: +49 123 456789
E-Mail: info@smartline-assemblies.com
Registereintrag:
Eintragung im Handelsregister.
Registergericht: Amtsgericht Musterstadt
Registernummer: HRB 12345
Umsatzsteuer-ID:
Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz:
DE123456789
Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:
Max Mustermann
Musterstraße 123
12345 Musterstadt
Haftungsausschluss (Disclaimer)
Haftung für Inhalte
Haftung für Links
Urheberrecht
Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen. -->
