<nav class="navbar">
   <div class="navbar__logo"></div>
   <ul class="navbar__menu">
      <li
         routerLink="/homepage"
         routerLinkActive="active-link">
         <a>Home</a>
      </li>
      <li
         routerLink="/production-management"
         routerLinkActive="active-link">
         <a>Production Management</a>
      </li>
      <li
         routerLink="/order-item"
         routerLinkActive="active-link">
         <a>Order Item</a>
      </li>
      <!-- Add more menu items as needed -->
   </ul>
</nav>
