<nav class="navbar">
   <div class="navbar__logo"></div>
   <ul class="navbar__menu">
      <li
         routerLink="/homepage"
         routerLinkActive="active-link">
         <a>Home</a>
      </li>
      <!-- "Greater than" opperand is not working here -->
      <li
         *ngIf="(Allowance$ | async) === UserRight.Admin"
         routerLink="/production-management"
         routerLinkActive="active-link">
         <a>Production Management</a>
      </li>
      <li
         *ngIf="
            (Allowance$ | async) === UserRight.Admin ||
            (Allowance$ | async) === UserRight.User
         "
         routerLink="/order-item"
         routerLinkActive="active-link">
         <a>Order Item</a>
      </li>
   </ul>
</nav>
