:host {
   .page-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      background-color: var(--primary-light-color);
   }

   .name-card {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25vh; /* Top quarter of the page */
      width: 100%;
   }

   .card {
      background-color: var(--secondary-light-color);
      border-radius: 10px;
      box-shadow: var(--dark-shadow);
      padding: 1rem;
      width: 65%;
   }

   .card-title {
      font-size: 1.5rem;
      margin-bottom: 10px;
   }

   .card-body h3 {
      margin: 0.4rem 0;
   }

   .form-control {
      max-width: 100%;
      width: 100%;
      padding: 0.3rem;
      box-sizing: border-box;
   }

   .list-item {
      padding: 0.3rem;
      margin: 0;

      p {
         padding: 0rem;
         margin: 0;
      }
   }

   .order-container {
      display: flex;
      flex-direction: column;
      width: 65%;
      gap: 2rem;

      label {
         font-weight: bold;
      }

      .checkbox {
         margin-top: 0.3rem;
      }

      .order-tab {
         padding: 1rem;
         border: 1px solid #ccc;
         border-radius: 0.5rem;
         cursor: pointer;
         background-color: #f4f4f4;
      }

      .workpiece-switch {
         background-color: var(--primary-button-color);
         color: var(--primary-text-color);
         border-radius: 0.3rem;
         display: flex;
         justify-content: space-around;
         align-items: center;
         padding: 0.3rem;
      }

      .workpiece-name {
         padding: 0.5rem;
         background-color: var(--tricary-light-color);
         border-radius: 0.3rem;
      }
   }
}
