@import url('./assets/font-awesome/css/fontawesome.min.css');
@import url('./assets/font-awesome/css/regular.min.css');
@import url('./assets/font-awesome/css/solid.min.css');
@import url('./styles/varables.scss');
@import url('./styles/box.scss');

:root {
   font-size: 14px;
}

body,
html {
   /* position: relative;
  height: 1vh; */
   line-height: 1.52857143;
   font-size: 1rem;
   background-color: var(--background-color);
}

body {
   margin: 0;
   background-color: var(--background-color);
   font-family: 'Arial';
   color: var(--dbl-text-color);
   overflow: hidden;
}

.main-btn {
   background-color: var(--primary-button-color);
   padding: 0.5rem;
   margin: 0.4rem 0;
   color: #fff;
   border-radius: 0.2rem;
   border: 1px solid var(--secondary-button-color);
}

.main-btn:hover:enabled {
   background-color: var(--secondary-button-color);
   cursor: pointer;
}

.main-btn:focus:enabled {
   box-shadow: var(--button-shadow);
}

.main-btn:disabled {
   cursor: not-allowed;
   background-color: var(--button-disabled);
}

.small {
   padding: 0.1rem 0.2rem;
   margin: 0;
   font-size: 0.9rem;
}

.main-input {
   width: 100%;
   box-sizing: border-box;
   padding: 0.5rem;
   margin: 0.4rem 0;
   color: #4d4b4b;
   border-radius: 0.2rem;
   border: 1px solid #16303d;
}

.main-input::placeholder {
   color: rgb(158, 158, 158);
}

.main-input:hover {
   cursor: pointer;
}

.main-input:focus {
   outline: none;
}

.main-input:active {
   box-shadow: 0 0 1px 1px #4899c2d8;
   outline: none;
}

.checkbox {
   transform: scale(1.4);
   width: fit-content;
}

textarea {
   resize: none;
   height: 4rem;
}
